*{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

body{
	overflow:hidden;
}

nav{
	position: fixed;
	top: 65px;
	left: 0;
	width: 100%;
	display: inline;
	height: 23px;
	border: 1px solid #999999;

	background: #CCCCCC;
	opacity:0.9;
	background: -webkit-gradient(linear, left top, left bottom, from(#99AA99),
		to(#CCDDCC));
	background: -webkit-linear-gradient(top, #CCDDCC, #99AA99);
	background: -moz-linear-gradient(top, #CCDDCC, #99AA99);
	background: -ms-linear-gradient(top, #CCDDCC, #99AA99);
	background: -o-linear-gradient(top, #CCDDCC, #99AA99);
	z-index: 1100;
	text-align:center;	
}

.h1{
	display:inline-block;
	margin-left:10%;
	float:left;
	text-transform:uppercase;
	font-size:20pt;
	margin-top:12px;
	line-height:100%;
}
.h2{
	display:inline-block;
	float:left;
	font-size:16pt;
	margin-left:20px;
	margin-top:12px;
}
.h3{
	font-size:16pt;
	margin-top:12px;
}
.h3 a{
	color:white;
	text-decoration:none;
}
.key{
	border:1px solid #AAAAAA;
	width:20px;
	height:20px;
}

.key-label{
	text-align:right;
}

.legend{
	margin-top:10px;
	margin-bottom:10px;
	font-size:10pt;
}

.menu{
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

.menu:hover{
	background-color:#EEEEEE;
}

.grapher{
	height:100%;
	background-color:#23e7a9;
}

.thermometer-back{
	background-color:#FFFFFF;
	border:1px solid #AAAAAA;
	height:35px;
	width:315px;
	position:relative;
}

.grapher{
	position:absolute;
	left:0;
}

.data-bar{
	height:100%;
	width:3px;
	position:absolute;
	background-color:#999999;
}

#no2-label-eu, #no2-label-geo{
	width:2px;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: inline;
	height: 55px;
	padding: 5px;

	background: #00006E;
	color:white;

	-webkit-box-shadow: rgba(.3, .3, .3, 1) 0 1px 0;
	-moz-box-shadow: rgba(.3, .3, .3, 1) 0 1px 0;
	box-shadow: rgba(.3, .3, .3, 1) 0 1px 0;
	z-index: 1100;
	text-align:center;
}
.header-div{
	display:inline-block;
}

.logo{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

#map{
	width:100vw;
	height:100vh;
    z-index:-1;
}

#map-container{
	position:relative;
	height:100vh;
	
}

#hover-div{
	position:absolute;
	z-index:1000;
	top:134px;
	left:54px;	
	opacity:0.9;
	width:350px;
	
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF),
		to(#CCCCCC));
	background: -webkit-linear-gradient(top, #FFFFFF, #CCCCCC);
	background: -moz-linear-gradient(top, #FFFFFF, #CCCCCC);
	background: -ms-linear-gradient(top, #FFFFFF, #CCCCCC);
	background: -o-linear-gradient(top, #FFFFFF, #CCCCCC);

	-webkit-box-shadow: rgba(.3, .3, .3, 1) 0 1px 0;
	-moz-box-shadow: rgba(.3, .3, .3, 1) 0 1px 0;
	box-shadow: rgba(.3, .3, .3, 1) 0 1px 0;
}

#egg-title-div{
	background-color:#00006E;
	color:white;
	padding:10px;
}

#hover-content-div{
	padding:15px;
	font-size:10pt;
}

.olControlAttribution{
    display: none;
}

#OpenLayers_Control_Zoom_5 a {
    text-decoration: none;
}

.olControlZoomIn.olButton, .olControlZoomOut.olButton {
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.9);
    margin-left: 5px;
    display: block;
    line-height: 20px;
    text-align: center;
    color: rgba(155,160,165,1);
    text-decoration: none;
}

.olControlZoomIn.olButton {
    margin-top: 75px;
    -webkit-box-shadow:  0px 0px 2px 1px rgba(00, 00, 00, 0.2);
    box-shadow:  0px 0px 2px 1px rgba(00, 00, 00, 0.2);
}

.olControlZoomOut.olButton {
    -webkit-box-shadow:  	0px 1px 2px 1px rgba(00, 00, 00, 0.2);
    box-shadow:  			0px 1px 2px 1px rgba(00, 00, 00, 0.2);
}

.hidden{
	display:none;
}

.toggler{
	font-weight:bold;
}

#about-div{
	width:50%;
	margin-left:20%;
	margin-top:200px;
}

.snippet{
	font-size:10pt;
	height:55px;
}

#summary{
	text-transform:uppercase;
}

#quality{
	font-weight:bold;
}

#landing-div{
	font-size:14pt;
	text-align:center;
	padding:15px;
	position:absolute;
}

.invisible{
	visibility:hidden;
}

.translate-btn{
	float:right;
	margin-right:10px;
	margin-top:10px
}
